@charset "utf-8";

body {

}

#title h1{
  padding: 10px 20px;
  margin: 10px;
  background: #ffe4e1;
  box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
  -webkit-box-shadow: #ffe4e1 0 0 10px 10px;
  -moz-box-shadow: #ffe4e1 0 0 10px 10px;
}

#title h2{
  color: #fff;
    background: #3cb371;
    padding: 20px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
}

#title h3{
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
  -moz-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
  -webkit-box-shadow: 0 0 50px #add8e6 inset, 5px 5px 0 #cecece;
}
